<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'freedom/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="first_h1">Freedom!</h1>
    <div id="mainDiv">
        <div id="firstDiv">
            <div id="topRow">

            </div>
            <div id="boardAndRow">
                <div id="leftRow">

                </div>
                <div id="board">

                </div>
            </div>
        </div>
        <div id="secondDiv">
            <button id="novaIgra">Nova igra</button>
            <h3 class="centriraj bold">Molimo vas odaberite</h3>
            <div class="centriraj"><span><input type="radio" checked name="nivo" id="igrac"></span> Igrač protiv igrača</div>
            <h3 class="centriraj bold">Molimo vas odaberite nivo protiv kompjutera</h3>
            <div class="centriraj"><span><input style="margin-right: 20px;" type="radio" name="nivo" id="laki"></span> Laki</div>
            <div class="centriraj"><span><input type="radio" name="nivo" id="srednji"></span> Srednji</div>
            <div class="centriraj"><span><input style="margin-right: 15px;" type="radio" name="nivo" id="teski"></span> Teški</div>
            <h3 class="centriraj">Skor</h3>
            <div class="centriraj"><div>Beli igrač</div><div>Crni igrač</div></div>
            <div class="centriraj">
                <h2 id="skorBeli">0</h2>
                <h2 id="skorCrni">0</h2>
            </div>
            <div class="centriraj" ><button id="neIgramPotez">Ne igram potez</button></div>
            <div id="krajIgre" onclick="startNewGame" >
                <h3 class="centriraj" id="rezultatIgre">Nerešeno!</h3>
                <h3 class="centriraj">Kraj Igre!</h3>
            </div>
        </div>
        <div id="thirdDiv">

        </div>
    </div>

    <script type="module" src="{% static 'freedom/js/index.js' %}"></script>
</body>
</html>